AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_FIRSTNAME=Airflow
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=airflow@example.com
AIRFLOW_FERNET_KEY=
AIRFLOW_WEBSERVER_PORT=8080

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=pharma-pv-dev
S3_ENDPOINT_URL=http://minio:9000

DATABRICKS_SUBMIT_ENABLED=false
DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_RUN_NAME_PREFIX=pharma-cv
DATABRICKS_PYTHON_FILE_BASE_URI=s3://pharma-cv-dev/jobs/src
DATABRICKS_SPARK_VERSION=14.3.x-scala2.12
DATABRICKS_NODE_TYPE_ID=i3.xlarge
DATABRICKS_NUM_WORKERS=1

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

OPENFDA_BASE_URL=https://api.fda.gov/drug/event.json
OPENFDA_PAGE_SIZE=100
OPENFDA_MAX_PAGES_PER_RUN=200
OPENFDA_TIMEOUT_SECONDS=60
OPENFDA_SLEEP_SECONDS=0.2

PV_CONFIG_PATH=/opt/airflow/conf/dev.yaml
