AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_FIRSTNAME=Airflow
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=airflow@example.com
AIRFLOW_FERNET_KEY=
AIRFLOW_WEBSERVER_PORT=8080

AWS_REGION=us-east-1
AWS_PROFILE=pharma-cv-local
S3_BUCKET=pharma-cv-dev
S3_ENDPOINT_URL=http://minio:9000

DATABRICKS_SUBMIT_ENABLED=false
DATABRICKS_SECRET_ID=
DATABRICKS_HOST_SECRET_KEY=host
DATABRICKS_TOKEN_SECRET_KEY=token
DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_RUN_NAME_PREFIX=pharma-cv
DATABRICKS_EXECUTION_SOURCE=git
DATABRICKS_GIT_URL=https://github.com/logeshvar/openfda-faers-pharma-covigilance-reporting.git
DATABRICKS_GIT_PROVIDER=gitHub
DATABRICKS_GIT_BRANCH=main
DATABRICKS_PYTHON_FILE_BASE_PATH=src
DATABRICKS_PYTHON_FILE_BASE_URI=s3://pharma-cv-dev/jobs/src
DATABRICKS_SPARK_VERSION=14.3.x-scala2.12
DATABRICKS_NODE_TYPE_ID=i3.xlarge
DATABRICKS_NUM_WORKERS=1
DATABRICKS_AUTOTERMINATION_MINUTES=30
DATABRICKS_INSTANCE_PROFILE_ARN=
DATABRICKS_DATA_SECURITY_MODE=
DATABRICKS_SINGLE_USER_NAME=

GLUE_DATABASE_NAME=pharma_cv_dev
ATHENA_RESULTS_S3_URI=s3://pharma-cv-dev/ops/athena-results/

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

OPENFDA_BASE_URL=https://api.fda.gov/drug/event.json
OPENFDA_PAGE_SIZE=100
OPENFDA_MAX_PAGES_PER_RUN=200
OPENFDA_TIMEOUT_SECONDS=60
OPENFDA_SLEEP_SECONDS=0.2
OPENFDA_CLEANUP_STAGING_FILES=true
OPENFDA_SOURCE_LAG_DAYS=120
OPENFDA_DEFAULT_WINDOW_DAYS=1

CV_CONFIG_PATH=/opt/airflow/conf/dev.yaml
